* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    font-family: 'Titillium Web', sans-serif;

}

.flex__title {
    font-size: 32px;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1.732px 2px rgba(43, 1, 0, 0.75);
    text-align: center;
    margin: 40px 0 20px;

}

::-webkit-input-placeholder {
    font-size: 16px;
    color: #afafaf;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.page__wrapper {
    width: 1050px;
    margin: 0 auto;


}

.page__banner {
    margin: 55px 271px 0px 350px;
}

.page__img {
    width: 429px;
    position: relative;
    opacity: 0.3;
}


.input,
.select,
.textarea {
    width: 100%;
    font-size: 16px;
    margin: 0 0 20px;
    height: 40px;
    padding-left: 81px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 3px;
    box-shadow: 1px 1.732px 0px #ffffff;
    background-image: linear-gradient(0deg, #f4f4f4 0%, #f8f8f8 100%);
    border: 1px solid #c6c6c6;
}



.flex {
    display: flex;
    margin: 25px auto 25px auto;
    justify-content: space-around;
}

.flex__element {
    width: 420px;
    /* overflow: hidden; */
}

.bottom-logo {
    width: 100%;
}

.flex__form-wrapper {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.23);
    padding: 20px;
}

.form {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    background-color: #f4f4f4;
    padding: 20px;
}

.register__username {
    background: url(img/glyphicons_003_user.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.register__password {
    background: url(img/glyphicons_203_lock.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.register__confirmPassword {
    background: url(img/glyphicons_203_lock.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.register__email {
    background: url(img/glyphicons_010_envelope.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.register__location {
    background: url(img/glyphicons_242_google_maps.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-bottom: 14px;
}


.register__select {
    position: relative;
}

.register__select:after {
    position: absolute;
    content: url('img/Shape\ 11.png');
    color: black;
    right: 15px;
    top: 10px;
    pointer-events: none;

}

.select {
    color: #afafaf;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.checkbox {
    display: none;
}

.register__checkbox {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;


}

.checkbox__label {
    display: block;
    position: relative;
    font-size: 17px;
    color: #afafaf;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    height: 23px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: start;
}

.sign__label {
    width: 150px;
    margin-top: 10px;
}


.checkbox__label:before {
    content: "";
    display: inline-block;

    width: 23px;
    height: 23px;
    margin: 0 15px -5px 0;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    box-shadow: 1px 1.732px 0px #ffffff;
    background-image: linear-gradient(0deg, #f4f4f4 0%, #f8f8f8 100%);
}

input[type="checkbox"]:checked+label:after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    border-radius: 3px;
    box-shadow: 0.5px 0.866px 0px #ffffff;
    background-image: linear-gradient(0deg, #71b80d 0%, #9ad123 100%);
    width: 13px;
    height: 13px;
    overflow: hidden;
}

input#sign_checkbox+label {
    margin-top: 10px;
}

.btn {
    width: 340px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0.5px 0.866px 0px #ffffff;
    background-image: linear-gradient(0deg, #7cc01e 0%, #a3d741 100%);
    border: 1px solid #3b9a00;

    font-size: 24px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    text-shadow: 0.559px 0.829px 0px #51850e;
}

.btn:hover {
    cursor: pointer;
    background-image: linear-gradient(0deg, #a3d741 0%, #7cc01e 100%);
}

.btn--short {
    width: 150px;
}

.two-btns {
    display: flex;
    justify-content: space-between;
}

.btn--red {
    background-image: linear-gradient(0deg, #ee3645 0%, #f55f71 100%);
    border: 1px solid #a2202a;
}

.btn--red:hover {
    background-image: linear-gradient(0deg, #f55f71 0%, #ee3645 100%);
}

.subscribe__email {
    background: url(img/glyphicons_010_envelope.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.email__name {
    background: url(img/glyphicons_003_user.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.email__email {
    background: url(img/glyphicons_010_envelope.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.email__message {
    background: linear-gradient(#f6f6f6, #f0f0f0);
    padding: 1em;
    height: 230px;
    width: 340px;
    resize: none;
}

.sign__username {
    background: url(img/glyphicons_003_user.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.sign__password {
    background: url(img/glyphicons_203_lock.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.recover__email {
    background: url(img/glyphicons_010_envelope.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;
}

.recover__phone {
    background: url(img/glyphicons_139_phone.png) no-repeat, url(img/Shape\ 5.png) no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
    background-position: 1em 50%, 60px 50%;

}

/* 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */

.bottom-logo {
    margin-top: 40px;
    margin-left: 40px;
    width: 350px;
    opacity: 0.5;

}


@media(max-width: 1050px) {
    .flex {
        display: block;
        margin: 0 auto;
    }

    .flex__element {
        margin: 0 auto;
    }

    .page__wrapper {
        width: 100%;
    }

    .page__banner {
        width: 100%;
        margin: 55px auto;
    }

    .page__img {
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:450px) {
    .page__img {
        width: 90%;
    }

    .flex__form-wrapper {
        padding: 10px;
    }

    .flex__element {
        width: 100%;
    }

    .email__message {
        width: 100%;
    }

    .bottom-logo {
        width: 80%;
    }

    .flex__title {
        font-size: 1.5em;
    }

    .btn {
        font-size: 1em;
    }

    .register__btn {
        margin-top: 1em;
    }

    .email__message {
        height: 100px;
    }
}

@media(max-width:390px) {

    .btn,
    .btn--short {
        width: 100px;
        height: 40px;
        margin: 0 auto;
    }

    .form {
        text-align: center;
    }


}